.myPosts {
  img {
    width: 70%;
  }

  textarea {
    width: 100%;
    box-sizing: border-box;
    height: 100px;
    border-radius: 20px;
    padding: 20px;
    border: solid 1px goldenrod;
    background-color: #fdf5e1;
    color: #034bb6;
    font-size: 20px;
    margin-bottom: 10px;
    resize: none;
  }

  button {
    font-size: 16px;
    border: solid 1px #034bb6;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #034bb6;
    color: white;
    cursor: pointer;
    transition: .4s ease;
  }

  button:hover {
    background-color: goldenrod;
    border: solid 1px goldenrod;
  }
}