.user {
  display: flex;

  .logo {
    display: flex;
    flex-direction: column;

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }

    .buttonUnFollow {
      color: red
    }
    .buttonFollow {
      color: green
    }
  }

  .info {
    display: flex;
  }
}