.dialogs {
  display: flex;

  .dialogsItems {
    width: 200px;
  }

  .messages {
    padding-left: 20px;
  }

  a {
    //font-family: Teko;
    color: navy;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
  }

  a.active {
    color: goldenrod;
  }
}